.content {
  &__card {
    width: 100vh;
    height: 50vh;
    margin: auto;

    &_red {
      background-color: red;
    }
    &_green {
      background-color: green;
    }
    &_blue {
      background-color: blue;
    }
  }
}
