.content {
  width: 90%;
  height: 100vh;
  display: flex;
  background: rgb(37, 122, 163);
  background: linear-gradient(
    180deg,
    rgb(16, 134, 189) 15%,
    rgb(19, 170, 240) 59%,
    rgba(0, 212, 255, 1) 100%
  );
}
