.sidebar {
  width: 10%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  background: rgb(209, 244, 255);
  background: radial-gradient(
    circle,
    rgba(209, 244, 255, 1) 0%,
    rgba(244, 252, 255, 1) 100%
  );

  &__nav {
    margin: auto;
  }

  &__item {
    padding: 1em;
  }
}
